body {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000001a;
  font-family: montserrat, sans-serif
}

h1 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  color: #555
}

.todo-body {
  padding: 5px 20px
}

#task-entry {
  display: flex;
  padding: 0 20px
}

#task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  font-size: 16px;
  font-family: montserrat, sans-serif;
  margin-bottom: 2px;
  text-align: center
}

#task-input:focus {
  outline: none
}

#add-task {
  padding: 0 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease
}

.todo-list {
  padding: 0 20px;
  list-style-type: none
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  word-wrap: anywhere
}

.todo-item:last-child {
  border-bottom: none
}

.todo-item span {
  flex: 1;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin: 8px
}

.delete {
  background-color: #c11
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color .3s ease
}

button:hover {
  background-color: #0056b3
}

button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #007bff80
}

span {
  word-wrap: anywhere
}